<nav class="border-b border-gray-200">
  <div class="max-w-2xl mx-auto px-4">
    <div class="flex justify-center h-16">
      <div class="flex items-center">
        <%= link_to root_path, class: "text-xl text-gray-800 hover:text-gray-600", style: "font-family: Georgia, serif;" do %>
          Hotwire Examples
        <% end %>
      </div>
    </div>
  </div>
</nav>
